@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&family=Lora:wght@400;500;600;700&display=swap");

@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo-crema);
  color: var(--color-texto);

  font-family: var(--fuente-cuerpo);

  min-height: 100vh;
}

/* TITULOS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fuente-titulos);
  color: var(--color-olea);
}

/* LINKS */

a {
  text-decoration: none;
  color: var(--color-olea);

  transition: var(--transition);
}

a:hover {
  color: var(--color-acento);
}

/* BOTONES */

.btn-olea {
  background-color: var(--color-olea);
  color: white;

  border: none;
  border-radius: var(--border-radius);

  transition: var(--transition);
}

.btn-olea:hover {
  background-color: var(--color-acento);
  color: white;
}

/* CARDS */

.card {
  border: none;
  border-radius: var(--border-radius);

  box-shadow: var(--shadow-soft);
}